<h1>New review</h1>

<!-- Simple form needs to build this route to POST the new review -->
<!-- /restaurants/:restaurant_id/reviews -->
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
